<mat-nav-list>
    <a mat-list-item (click)="closeMenu()" routerLink="inicio" >
        <mat-icon>home</mat-icon>
        <span class="navegacion-list-label">Home</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="clientes">
        <mat-icon>person</mat-icon>
        <span class="navegacion-list-label">Clientes</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="insumos">
        <mat-icon>poll</mat-icon>
        <span class="navegacion-list-label">Insumos</span>
    </a>
    <a mat-list-item (click)="closeMenu()" routerLink="materiaPrima">
        <mat-icon>local_shipping</mat-icon>
        <span class="navegacion-list-label">Materia Prima</span>
    </a>
</mat-nav-list>